.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: cornflowerblue ;
    justify-content: center;
}
.field {
    width: 280px;
    height: 280px;
    background-color: darkcyan;
}
.Cell {
    width: 80px;
    height: 80px;
    background-color: darkgoldenrod;

}

