.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: cornflowerblue ;
    justify-content: center;
}
.field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: auto;
    height: 360px;
    background-color: darkcyan;
    align-content: center;
}

.Cell {
    width: 30px;
    height: 30px;
    background-color: darkgoldenrod;
    border-style: solid;
    border-width: medium;
}

.Snake {
    width: 30px;
    height: 30px;
    background-color: green;
    border-style: solid;
    border-width: medium;
}

.headSnake {
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-style: solid;
    border-width: medium;
}

.Apple {
    width: 30px;
    height: 30px;
    background-color: red;
    border-style: solid;
    border-width: medium;
    border-radius: 50%;
}

